.hero-bg {
	background: url(../../src/imgs/bharathi-kannan-rfL-thiRzDs-unsplash.jpg)
		no-repeat center;
	height: 300px;
	background-size: cover;
}

.profile-container {
	max-width: 600px;
	padding: 20px 60px;
	margin: 0 auto;
	background: url(../../src/imgs/image\ 2.svg);
	background-color: #f5f5f5;
	background-blend-mode: multiply;
	border-radius: 40px;
	margin-top: 110px;
	border: 1px solid #000;
	box-shadow: 4px 4px 0px #fff, 4px 4px 0px 1px #000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-image {
	border-radius: 50%;
	overflow: hidden;
	width: 320px;
	margin: 0 auto;
	height: 320px;
	transform: translateY(100px);

	border: 6px solid var(--purple);
}

.profile-container h2 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 16px;
}

.profile-container p {
	font-size: 1rem;
	font-weight: 700;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #000;
	box-shadow: 4px 4px 0px #fff, 4px 4px 0px 1px #000;
	margin-bottom: 50px;
}

.profile-buttons {
	display: flex;
	align-items: center;
	gap: 20px;
}

.pets {
	margin: 80px 0;
}

.modal-container.active {
	display: grid;
}

.modal-container {
	display: none;
	place-items: center;
	background: rgba(27, 28, 30, 0.65);
	height: 100vh;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2000;
	position: fixed;
}

.modal {
	min-width: 600px;
	margin: 0 20px;
	padding: 40px 26px;
	background-color: var(--white);
	animation: slide 0.3s ease;
	text-align: center;
	padding: 20px;
	border: 2px solid #000000;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
	font-size: 18px;
	font-weight: 600;
	box-shadow: 5px 8px 0px #4e2096, 5px 8px 0px 2px #4e2096;
}

.modal-header {
	display: flex;
	justify-content: flex-end;
}

.modal .close {
	display: block;
	margin-right: 0;
	background-color: var(--green);
	border-radius: 5px;
	color: #000;
	border: 1px solid #000;
	cursor: pointer;
	padding: 10px 15px;
}

.modal-body {
	margin: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	color: var(--purple);
}

.modal-body h3 {
	font-weight: 500;
	color: var(--purple);
	font-size: 1.75rem;
	margin-bottom: 16px;
}

.modal .btn {
	width: 70%;
}

.modal-body form {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.modal-body form label {
	display: block;
	text-align: left;
	margin: 1.5rem 0 0.5rem 0;
	font-size: 1rem;
	font-weight: 500;
	color: #000;
}

.modal-body form input, select {
	width: 100%;
	border: none;
	background-color: rgba(128, 128, 128, 0.155);
	height: 40px;
	border-radius: 10px;
	font-size: 14px;
	padding-left: 15px;
}

#button-submit {
	margin-top: 20px;
	width: 100%;
}
