.hero-bg {
	background: url(../../src/imgs/bharathi-kannan-rfL-thiRzDs-unsplash.jpg)
		no-repeat center;
	height: 300px;
	background-size: cover;
}

.profile-container {
	max-width: 600px;
	padding: 20px 60px;
	margin: 0 auto;
	background: linear-gradient(
			rgba(255, 255, 255, 0.9),
			rgba(255, 255, 255, 0.9)
		),
		url(../../src/imgs/background-paws.jpg);
	background-color: #fffefa;
	background-blend-mode: difference;
	border-radius: 40px;
	margin-top: 125px;
}

.profile-image {
	border-radius: 50%;
	overflow: hidden;
	width: 320px;
	margin: 0 auto;
	height: 320px;
  transform: translateY(100px);
}

.profile-container h2 {
}
