body {
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.8)
		),
		url("../../src/imgs/background-paws.jpg");
}

.login-container {
	margin: 180px auto;
	text-align: center;
	position: relative;
	background-color: white;
	max-width: 520px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 15px;
	border: 2px solid #000000;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
	font-size: 18px;
	font-weight: 600;
	box-shadow: 5px 8px 0px #4e2096, 5px 8px 0px 2px #4e2096;
}

.login-container h3 {
	font-size: 2rem;
	font-weight: bold;
}

.login-container::after {
	content: "";
	background: url(../../src/imgs/pawns.png) no-repeat center;
	height: 250px;
	width: 250px;
	background-size: cover;
	position: absolute;
	right: -200px;
	z-index: -1;
	transform: rotate(80deg);
}

.login-container::before {
	content: "";
	background: url(../../src/imgs/Ellipse\ 5.png) no-repeat center;
	height: 520px;
	width: 520px;
	background-size: cover;
	position: absolute;
	left: -70%;
    top: -100px;
	z-index: -1;
}

form {
	display: block;
	width: 80%;
	margin: 0 auto;
}

form label {
	display: block;
	text-align: left;
	margin: 1.5rem 0 0.5rem 0;
	font-size: 1rem;
	font-weight: 500;
}

form input {
	width: 100%;
	border: none;
	background-color: rgba(128, 128, 128, 0.155);
	height: 40px;
	border-radius: 10px;
	font-size: 14px;
	padding-left: 15px;
}

form button {
	margin-top: 20px;
	width: 100%;
}

.login-container a {
	font-size: 12px;
	text-align: center;
	margin: 20px 0px;
	cursor: pointer;
}

.login-container a strong {
	color: #23c994;
}
