* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    background-color: #4E2096;
    position: relative;
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    padding: 0 10px;

}

.div-logo {
    color: white;
    display: flex;
    font-size: 10px;

}

.div-logo img {
    width: 30px;
    margin-right: 10px;
}

.div-logo h1 {
    font-size: 20px;
}

.buttons-header {
    display: flex;
}

.button-home {
    background: #23C994;
    color: white;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.button-register {
    background-color: #4E2096;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.div-welcome {
    display: block;
    background-color: white;
    position: relative;
    top: 20px;
    width: 85%;
    height: 50px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4E2096;
    border-top-right-radius: 600px;
    border-top-left-radius: 600px;
    box-shadow: 0px 4px 0px #4E2096, 0px 4px 0px 2px #4E2096;
     /* box-shadow: 0px -4px 0px #4E2096, 0px -4px 0px 2px #4E2096;  */
   
}


.welcome {
    display: block;
    font-size: 18px;
    z-index: 1
}

/* header button{display: none;} */

/* .img-background-mobile {
    object-fit: cover;
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100%;
} */

.img-background {
    object-fit: cover;
    position: absolute;
    opacity: 30%;
    z-index: 0;
    height: 100vh;
    width: 100%;

}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none
}


form {
    position: relative;
    background-color: white;
    top: 30px;
    height: 360px;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    border: 2px solid #000000;
    border-bottom-right-radius: 40px;
    /* border-top-left-radius: 40px; */
    font-size: 18px;
    font-weight: 600;
    box-shadow: 5px 8px 0px #4E2096, 5px 8px 0px 2px #4E2096;
}

form input {
    border: none;
    background-color: rgba(128, 128, 128, 0.155);
    height: 40px;
    border-radius: 10px;
    font-size: 13px;
    padding-left: 15px;
}


.button-send {
    position: relative;
    background-color: #23C994;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    padding: 0.5rem 1.6rem;
    box-shadow: 5px 4px 0px #FFFFFF, 5px 4px 0px 2px #000000;
    font-size: 20px;
    

}

form a {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer
}

form a strong {
    color: #23C994;
}

/* div {
    display: none
} */

.img-dog-login,
.img-dog-paw,
.img-dog-paw2,
.img-dog-paw3 {
    display: none;
}