header {
	background-color: var(--purple);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	padding: 15px 80px;
	gap: 20px;
}

#nameLogo {
	color: var(--white);
	font-size: 1.75rem;
	display: flex;
	align-items: center;
}

#nameLogo::before {
	content: "";
	width: 30px;
	margin-right: 10px;
	height: 30px;
	background: url(../../src/imgs/imgLogo.svg);
	display: block;
}

.nav.active .btn-mobile {
	border-top-color: transparent;
	top: -8px;
}

.nav.active .btn-mobile::before {
	transform: rotate(-135deg);
	top: 7px;
}
.nav.active .btn-mobile::after {
	transform: rotate(135deg);
}

.nav.active .menu {
	visibility: visible;
	height: 60px;
	margin-top: 30px;
	opacity: 1;
}

.btn-mobile {
	display: flex;
}

#perfil {
	background-color: var(--green);
	border: 1px solid black;
	border-radius: 10px;
	padding: 0.5rem 1.6rem;
	color: white;
}

#logout {
	color: var(--white);
	background-color: var(--purple);
	border: 1px solid var(--white);
	border-radius: 10px;
	padding: 0.5rem 1.6rem;
	border-radius: 10px;
}

#sectionPetView {
	margin: 60px 0px 40px 0px;
	z-index: 2000;
}

#sectionPetView::after {
	content: "";
	display: block;
	width: 100%;
	height: 180px;
	background: url(../../src/imgs/pawns-group.svg) no-repeat center;
	padding: 40px 0px;
}

#adoptTitle {
	color: var(--purple);
	font-size: 2rem;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	gap: 20px;
	font-weight: bold;
	margin-bottom: 60px;
}

#ulPets {
	display: flex;
	overflow-x: scroll;
	gap: 40px;
	padding: 20px 0;
	scroll-behavior: smooth;
}

#ulPets::-webkit-scrollbar {
	-webkit-appearance: none;
}

.liPets {
	min-width: 200px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 10px;
	padding: 8px;
	gap: 10px;
	box-shadow: 5px 8px 0px #fff, 5px 8px 0px 1px #000;
	position: relative;
}

.liPets:not(:last-child)::after {
	content: "";
	top: 50%;
	z-index: 2000;
	right: -60px;
	position: absolute;
	display: block;
	width: 70px;
	height: 10px;
	background: url(../../src/imgs/detail.svg);
}

.liPets:nth-of-type(odd) {
	background-color: #cceeff;
}

.liPets:nth-of-type(even) {
	background-color: #ffd951;
}

.imgPets {
	height: 140px;
	border-radius: 10px;
	border: 1px solid black;
}

.divPet {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
}

.namePets {
	color: black;
	font-size: 1.2rem;
}

.race {
	border: 1px solid black;
	border-radius: 5px;
	font-size: 10px;
	padding: 5px;
	background-color: white;
}

.species {
	color: var(--purple);
	font-family: "DM Sans";
	font-size: 12px;
}

.btnAdopt {
	background-color: var(--green);
	border: 1px solid black;
	border-radius: 10px;
	padding: 0.4rem 0.5rem;
	font-weight: 500;
	align-self: flex-start;
	color: white;
}

footer {
	background: #f1eef7;
	text-align: center;
	padding: 10px 0px;
	color: var(--purple);
	position: fixed;
	bottom: 0;
	width: 100vw;
}

@media (min-width: 768px) {
	header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.menu {
		display: flex;
		align-items: center;
		gap: 12px;
		transition: 0.3s;
	}

	.menu {
		visibility: hidden;
		height: 0px;
		opacity: 0;
		z-index: 1000;
		transition: 0.3s ease;
	}

	#sectionPetView {
		z-index: 2000;
	}

	#sectionPetView::after {
		content: "";
		height: 180px;
		width: 180px;
		display: block;
		top: 200px;
		transform: rotate(85deg);
		right: 200px;
		position: absolute;
		background: url(../../src/imgs/pawns.png) no-repeat center;
		background-size: cover;
		z-index: -200;
	}

	#sectionPetView::before {
		content: "";
		height: 180px;
		width: 180px;
		display: block;
		bottom: 200px;
		left: 80px;
		position: absolute;
		background: url(../../src/imgs/pawns.png) no-repeat center;
		background-size: cover;
		z-index: -200;
	}

	#adoptTitle {
		font-size: 60px;
	}

	#ulPets {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;
	}

	.btn-mobile {
		display: none;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
		width: 26px;
		border: none;
		background: none;
		border-top: 2px solid white;
		position: relative;
		outline: none;
	}

	.btn-mobile::before,
	.btn-mobile::after {
		content: "";
		display: inline-block;
		width: 26px;
		margin-top: 5px;
		height: 2px;
		background-color: #fff;
		position: relative;
		transition: 0.3s ease;
	}
}
