@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap');


body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.8)),
        url("../../src/imgs/background-paws.jpg");
}

@media (max-width: 700px) {

    html,
    body {
        height: 100%;
        overflow: hidden
    }

    .buts {
        display: none;
    }

    header {
        background-color: #4E2096;
        color: white;
        padding: 8px 16px;
        font-family: 'Poppins', sans-serif;
        width: 100vw;
    }

    .IMGModal {
        width: 34px;
        height: 34px;
    }

    .IMGModal img {
        width: 100%;
        background: transparent;
        color: white;
    }

    .modalLogin {
        top: 3.2rem;
        left: 0;
        animation: 1s toast forwards;

        padding: 0 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #4E2096;
        height: 4rem;
        display: flex;
        align-items: center;
    }

    .butLogin {
        background: #23C994;
        border: 1px solid #000000;
        border-radius: 10px;
        width: 49%;
        height: 70%;
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
    }

    .butRegister {
        background: #4E2096;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        width: 49%;
        height: 70%;
        color: white;
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
    }

    main {
        margin-top: 75px;
    }

    .imgDog {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 15%;
        top: 20px;

    }

    .imgCat {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 40%;
        top: 100px;
    }

    .adopt {
        position: absolute;
        top: 330px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        left: 15%;

    }

    .adopt h1 {
        font-family: 'Poppins', sans-serif;
    }

    .adopt a {
        background: #23C994;
        border-radius: 10px;
        width: 90%;
        height: 2.5rem;
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        margin-top: 25px;
        position: absolute;
        top: 60px;
        left: 0;
        box-shadow: 5px 4px 0px #FFFFFF, 5px 4px 0px 2px #000000;
    }

    footer {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        bottom: 0;
        height: 40px;
        background: rgb(78, 32, 150);
        color: white;
    }
}

@keyframes toast {
    0% {
        left: -400px;
    }

    100% {
        left: 0px;
    }
}