@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@400;500;600;700&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--yellow: #fed954;
	--green: #23c994;
	--purple: #4e2096;
	--white: rgba(255, 254, 251, 1);
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--gray1);
	color: var(--gray0);
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
}

input,
textarea {
	font-family: inherit;
}

a {
	text-decoration: none;
	text-align: center;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}
